# SPDX-License-Identifier: GPL-2.0-or-later
# SPDX-FileCopyrightText: Netresearch DTT GmbH
# PHPat Architecture Rules
services:
    -
        class: Netresearch\NrVault\Tests\Architecture\ArchitectureTest
        tags:
            - phpat.test
